* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #121214;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: grid;
}

main {
  align-self: flex-end;
  justify-self: center;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: clamp(4.4rem, 5rem + 6vw, 8.8rem);
  line-height: 10.3rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  padding: 22px 40px;
  width: clamp(12rem, 12rem + 15vw, 22.8rem);
  height: clamp(4rem, 7rem + 3vw, 10.8rem);
  background: rgba(66, 211, 255, 0.13);
  border-radius: 10rem;
}

.hide {
  display: none;
}

img {
  width: clamp(4rem, 3rem + 5vw, 6.4rem);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(0.97);
}

footer {
  align-self: end;
  justify-self: end;
  padding: 0 4rem 3.2rem 0;
  cursor: pointer;
}

.volume:hover {
  transform: scale(0.96);
}