* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Poppins', sans-serif;
  --text-color: white;
  --primary-color: #0e4454;

  --input-bg: #06181C;

  --bg-color: #010710;

  --table01-bg: #06181c49;
  --table02-bg: #06121c;

  --delete-text: #F75A68;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}
body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}
header h1 {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}
.search input {
  color: white;
  width: clamp(15rem, 15rem + 5vw, 25rem);
  height: 3rem;
  padding: 0 1.6rem;
  background: var(--input-bg);
  border-radius: 5px 0px 0px 5px;
  border: none;
}
.search button {
  padding: 0 1rem;
  height: 3rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 0px 5px 5px 0px;
  border: none;
  cursor: pointer;
}
.search button:hover {
  filter: brightness(0.96);
  transform: scale(0.98);
}
.search button:active {
  transform: scale(0.95);
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: #0000004a 1px 6px 20px 11px;
}
table * {
  font-size: 1.4rem;
  color: var(--text-color);
}
table th {
  background-color: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}
table th:first-child {
  border-top-left-radius: .8rem;
}
table th:last-child {
  border-top-right-radius: .8rem;
}
table tr {
  background-color: var(--table02-bg);
}
table tr:nth-child(odd) {
  background-color: var(--table01-bg);
}
table td {
  padding: 1.5rem;
  text-align: left;
}
td.user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
td.user a {
  text-decoration: none;
}
td.user a p {
  font-weight: bold;
}
td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
td .remove {
  background-color: transparent;
  color: var(--delete-text);
  border: none;
  cursor: pointer;
  transition: .2s;
}
td .remove:hover {
  padding: .3rem 0;
  background-color: #0d2e368f;
}
td .remove:active {
  transform: scale(0.96);
  transition: none;
}

#app {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}