* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #28293E;
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
}

.page {
  max-width: 330px;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}

header {
  animation: topdown .7s;
}

header p {
  line-height: 2rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #BBB3E6;

  margin-top: 70px;
}

header h1 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  color: white;
  margin: 17px 0 80px;
}

main {
  display: grid;
  gap: 32px;
}

main:last-child {
  margin-bottom: 100px;
}

.card {
  position: relative;
  animation: downtop .7s .4s backwards;
}

.card img {
  height: 416px;
  object-fit: cover;
  border-radius: 6px;
  transition: all .2s;
}

.card img:hover {
  transform: scale(1.1);
  opacity: .5;
}

.card h2 {
  font-size: 2.5rem;
  position: absolute;
  bottom: 51px;
  left: 28px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  color: white;
}

.card span {
  text-align: center;

  font-size: 0.9rem;
  line-height: 2rem;
  color: #090039;
  background-color: white;
  border-radius: 19px;

  padding: 0 10px;

  width: fit-content;
}

.desktop {
  display: none;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-45px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  .page {
    max-width: 73.1rem;
    padding: 0 100px;
  }

  main {
    display: grid;
    grid-template-areas: 
    "a b b"
    "c c d"
    ;
  }

   main div:nth-child(1) {
    grid-area: a;
   }

   main div:nth-child(2) {
    grid-area: b;
   }

   main div:nth-child(3) {
    grid-area: c;
   }

   main div:nth-child(4) {
    grid-area: d;
   }

  img {
    width: 100%;
  }

  .desktop {
    display: flex;
  }

  header h1 {
    font-size: 3.5rem;
  }
}